<!-- templates/user/login.html -->
{% extends "base.html" %} 
  {% block title %}
  Login
  {% endblock %} 
{%block content%}
<form method="post">
    {% csrf_token %} 
    {{ form }}
    <button type="submit">Log In</button>
</form>

<a href="{% url 'sign_up'%}">Click here to sign up.</a>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{%endblock%}
